div.container{

    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    background-image: url('Experience_Background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    }
    
    #endavaPracticeTime{
    
    
        top:10%;
        left:5%;
        position:absolute;
    
    }
    
    #endavaPractice{
    
    
        top:15%;
        left:8%;
        position:absolute;
    
    }
    
    #endavaPracticeDescription {
    
    
        top:20%;
        left:10%;
        position:absolute;
    
    }
    
    #timpExtended{
    
    
        top:30%;
        left:5%;
        position:absolute;
    
    }

    #extended{
    
    
        top:35%;
        left:8%;
        position:absolute;
    
    }

    #extendedDescription{
    
    
        top:40%;
        left:10%;
        position:absolute;
    
    }

    #timpInternship{
    
    
        top:64%;
        left:5%;
        position:absolute;
    
    }


    #internship{
    
    
        top:60%;
        left:8%;
        position:absolute;
    
    }


    #internshipDescription{
    
    
        top:70%;
        left:10%;
        position:absolute;
        margin-right: 180px;
    }