@media only screen and (max-width: 599.9px) {
  body { margin: 0; }
  div.topside {
    background-image: url("./assets/polygon-background.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  
    height: 76%;
    width: 100%;
  }


  #main {
    height: 100vh;
    width: 100%;
    display:flex;
    overflow-x: hidden;
    flex-direction:column;  
    align-items: flex-start;
  }

  #myName {
    position: absolute;
    top: 37%;
    left: 25%;
    font-size: 24px;
  }

  #description {
    display: flex;
    flex-direction: column;
    top: 60%;
    left: 10%;
  }

  #cuprins {
    position: absolute;
    left: 0%;
    top: 76%;
    margin-right: 15%;
    width: 100%;
    height: 100%;
    background-image: url("./assets/polygon-background.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  body {
    min-height: 100vh;
  }

  #menu-header {
    position: fixed;
    z-index: 1;
  }

  #menu {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }
  .bar {
    height: 5px;
    width: 100%;
    background-color: #395ee5;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }

  #myBtn {
    display: flex;
    align-items: center;
    margin-left: 45%;
    margin-top: 8%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  #more {
    display: none;
  }

  #bar1 {
    transform: translateY(-4px);
  }
  #bar3 {
    transform: translateY(4px);
  }
  .nav li a {
    color: #fff;
    text-decoration: none;
  }
  .nav li a:hover {
    font-weight: bold;
  }
  .nav li {
    list-style: none;
    padding: 16px 0;
  }
  .nav {
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
  }
  .menu-bg,
  #menu-bar {
    top: 0;
    left: 0;
    position: absolute;
  }
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #2e83bb, #272dc6);
    border-radius: 50%;
    transition: 0.3s ease;
  }
  #menu-bar {
    z-index: 2;
  }
  .change-bg {
    width: 550px;
    height: 540px;
    transform: translate(-60%, -30%);
  }
  .change .bar {
    background-color: white;
  }
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  .change #bar3 {
    transform: translateY(-6px) rotate(45deg);
  }
  .change #bar2 {
    opacity: 0;
  }
  .change {
    display: block;
  }

  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00baf0;
    background: linear-gradient(to left, #f46b45, #eea849);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    height: 50px;
    padding: 1em;
  }

  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  #description {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
    margin-left: 20%;
    margin-right: 60px;
  }

  #profileImage {
    position: relative;
    left: 30%;
    top: 8%;
    width: 35%;
    height: 35%;
  }

  .contactListItem {
    width: 300px;
  }
  #contactListContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 28%;
    padding-top: 26%;
    align-content: space-between;
    align-items: center;
    min-height: 100px;
    background: rgba(0, 0, 0, 0);
  }
}

#videoFrame {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 25%;
  margin-left: 28%;
  margin-top: 25%;
}

#linkedIn:visited {
  color: #b80b0b;
  background-color: transparent;
  text-decoration: none;
}

linkedIn:hover {
  color: rgb(135, 9, 101);
  background-color: transparent;
  text-decoration: underline;
}

@media (min-width: 600px) and (max-width: 799.9px) {

  body{margin:0%}
  div.topside {
    background-image: url("./assets/polygon-background.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    top: 0%;
    left: 0%;
    position: absolute;
    height: 55%;
    width: 100%;
  }

  
  #main {
    height: 150vh;
    width: 100%;
    display:flex;
    overflow-x: hidden;
    flex-direction:column;  
    align-items: flex-start;
  }

  #myName {
    position: absolute;
    top: 15%;
    left: 45%;
    font-size: 24px;
  }

  #myBtn {
    left: 50%;
    top: 95%;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  #more {
    display: none;
  }


  #profileImage {
    position: relative;
    left: 10%;
    top: 50%;
    width: 18%;
    height: 50%;
  }

  #description {
    display: flex;
    flex-direction: column;
    margin-left: 22%;
    margin-top: 55%;
  }

  #menu-header {
    position: fixed;
    z-index: 1;
  }

  #menu {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }
  .bar {
    height: 5px;
    width: 100%;
    background-color: #395ee5;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }

  #bar1 {
    transform: translateY(-4px);
  }
  #bar3 {
    transform: translateY(4px);
  }
  .nav li a {
    color: #fff;
    text-decoration: none;
  }
  .nav li a:hover {
    font-weight: bold;
  }
  .nav li {
    list-style: none;
    padding: 16px 0;
  }
  .nav {
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
  }
  .menu-bg,
  #menu-bar {
    top: 0;
    left: 0;
    position: absolute;
  }
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #2e83bb, #272dc6);
    border-radius: 50%;
    transition: 0.3s ease;
  }
  #menu-bar {
    z-index: 2;
  }

  .change-bg {
    width: 550px;
    height: 540px;
    transform: translate(-60%, -30%);
  }
  .change .bar {
    background-color: white;
  }
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  .change #bar3 {
    transform: translateY(-6px) rotate(45deg);
  }
  .change #bar2 {
    opacity: 0;
  }
  .change {
    display: block;
  }

  #cuprins {
    width: 100%;
    height: 100%;
    background-image: url("./assets/polygon-background.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  body {
    min-height: 100vh;
  }

  #description {
    display: flex;
    flex-direction: row;
    top: 10%;
    left: 10%;
    margin-right: 120px;
  }

  .contactListItem {
    width: 300px;
  }

  #contactListContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    flex-direction: column;
    padding-left: 48%;
    padding-top: 0%;
    align-content: space-between;
    align-items: center;
    min-height: 100px;
    background: rgba(0, 0, 0, 0);
  }

  #videoFrame {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 200px;
    margin-left: 30%;
    margin-top: 30%;
  }

  #linkedIn:visited {
    color: #b80b0b;
    background-color: transparent;
    text-decoration: none;
  }

  linkedIn:hover {
    color: rgb(135, 9, 101);
    background-color: transparent;
    text-decoration: underline;
  }
}

@media (min-width: 800px) and (max-width: 1009.9px) {
  div.topside {
    background-image: url("./assets/polygon-background.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    top: 0%;
    left: 0%;
    position: absolute;
    height: 50%;
    width: 100%;
  }

  #myBtn {
    display: flex;
    align-items: center;
    margin-left: 50%;
    margin-top: 8%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  #more {
    display: block;
  }

  #myName {
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 24px;
  }

  #videoFrame {
    position: absolute;
    left: 27%;
    top: 40%;
  }

  #profileImage {
    position: relative;
    left: 9%;
    top: 20%;
    width: 20%;
    height: 70%;
  }

  #description {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 1%;
  }


  #cuprins {
    position: absolute;
    left: 0%;
    top: 53%;
    width: 100%;
    height: 100%;
    background-image: url("./assets/polygon-background.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }


  ul {
    list-style-type: none;
    position: absolute;
    top: 50%;
    left: 0%;
    text-align: center;
    height: 3%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: #333333;
  }

  li {
    float: left;
    padding-left: 8%;
    padding-right: 8%;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111111;
  }

  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  #description {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 15%;
    margin-right: 10%;
  }

  .contactListItem {
    width: 100%;
  }

  #contactListContainer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30%;
    width: 80%;
    height: 130px;
    align-content: space-between;
    align-items: center;
    min-height: 100px;
    background: rgba(0, 0, 0, 0);
  }

  #videoFrame {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 25%;
    margin-left: 15%;
    margin-top: 25%;
  }

  #linkedIn:visited {
    color: #b80b0b;
    background-color: transparent;
    text-decoration: none;
  }

  linkedIn:hover {
    color: rgb(135, 9, 101);
    background-color: transparent;
    text-decoration: underline;
  }

  #videoFrame {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 200px;
    margin-left: 12%;
    margin-top: 9%;
  }
}

@media only screen and (min-width: 1010px) {
  body { margin: 0; }
  div.topside {
    background-image: url("./assets/polygon-background.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 40%;
    width: 100%;
  }

  #myBtn {
    display: flex;
    align-items: center;
    margin-left: 50%;
    margin-top: 8%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  #more {
    display: block;
  }

  #description {
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    margin-top:7%;
    margin-right: 12%;
  }

  #myName {
    position: absolute;
    top: 1%;
    margin-top: 3%;
    left: 40%;
    font-size: 36px;
  }

  #videoFrame {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 200px;
    margin-left: 35%;
    margin-top: 10%;
  }

  #cuprins {
    margin-right: 15%;
    width: 100%;
    height:80%;
    background-image: url("./assets/polygon-background.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  #main {
    height: 150vh;
    width: 100%;
    display:flex;
    overflow-x: hidden;
    flex-direction:column;  
    align-items: flex-start;
  }

  ul {
    list-style-type: none;
    position: absolute;
    top: 55%;
    left: 0%;
    height:3%;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }

  li {
    float: left;
    padding-left: 8%;
    padding-right: 10%;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111111;
  }

  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }


  #profileImage {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 15%;
    height: 40%;
  }


  #contactListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    width:70%;
    padding-left: 25%;
    top:20%;
    align-content:space-between;
    align-items: center;
    min-height: 130px;
    background: rgba(0, 0, 0, 0);
  }

  #linkedIn:visited {
    color: #b80b0b;
    background-color: transparent;
    text-decoration: none;
    text-align: center;

  }

  #linkedIn {
    color: #b80b0b;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
  }

  #linkedIn:hover {
    color: rgb(135, 9, 101);
    background-color: transparent;
    text-decoration: underline;
  }
}
